# Ex1 - Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [18]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [19]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter = '\t')

### Step 3. Assign it to a variable called chipo.

In [20]:
chipo = df
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [21]:
# clean the item_price column
chipo['item_price'] = chipo['item_price'].str.lstrip('$')

In [34]:
# transform it in a float and reassign the column with the cleaned prices
chipo['item_price'] = chipo['item_price'].astype('float64')

# delete the duplicates in item_name and quantity
chipo['item_name'] = chipo['item_name'].drop_duplicates()
# select only the products with quantity equals to 1
print('Total items that cost more than $10:', len(chipo[(chipo.quantity == 1) & (chipo.item_price > 10) & (chipo.item_name)]))
chipo[(chipo.quantity == 1) & (chipo.item_price > 10) & (chipo.item_name)]

Total items that cost more than $10: 10

,order_id,quantity,item_name,choice_description,item_price
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [56]:
# delete the duplicates in item_name and quantity

### Done in step 4

# select only the products with quantity equals to 1


# select only the item_name and item_price columns


# sort the values from the most to less expensive
chipo[['item_name', 'item_price']][(chipo.quantity == 1) & (chipo.item_name)].sort_values('item_price', ascending = False)

                                  item_name  item_price
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
39                            Barbacoa Bowl       11.75
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
186                       Veggie Salad Bowl       11.25
738                       Veggie Soft Tacos       11.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
250                           Chicken Salad       10.98
56                      Barbacoa Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
8                          Steak Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
54                               Steak Bowl        8.99
664                             Steak Salad        8.99
3750                         Carnitas Salad        8.99
33                            Carnitas Bowl        8.99
27                         Carnitas Burrito        8.99
21                         Barbacoa Burrito        8.99
44                       Chicken Salad Bowl        8.75
12                       Chicken Soft Tacos        8.75
11                     Chicken Crispy Tacos        8.75
1694                           Veggie Salad        8.49
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1414                                  Salad        7.40
520                            Crispy Tacos        7.40
510                                 Burrito        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
2                          Nantucket Nectar        3.39
1                                      Izze        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
233      Chips and Roasted Chili Corn Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
34                            Bottled Water        1.09

### Step 6. Sort by the name of the item

In [59]:
chipo.sort_values('item_name')
# OR

,order_id,quantity,item_name,choice_description,item_price
298,129,1,6 Pack Soft Drink,[Sprite],6.49
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
...,...,...,...,...,...
4617,1833,1,NaN,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,NaN,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,NaN,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,NaN,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,NaN,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 7. What was the quantity of the most expensive item ordered?

In [63]:
chipo.sort_values('item_price', ascending = False).head(1)
# 15 times

      order_id  quantity item_name choice_description  item_price
3598      1443        15       NaN                NaN       44.25

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [66]:
# Reestablezco chipo que antes le he quitado los duplicados
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter = '\t')
chipo = df
chipo[chipo.item_name == 'Veggie Salad Bowl']

,order_id,quantity,item_name,choice_description,item_price
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",$11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",$8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [67]:
len(chipo[chipo.item_name == 'Veggie Salad Bowl'])

18

18

### Step 9. How many times did someone order more than one Canned Soda?

In [76]:
chipo[(chipo['item_name'] == '6 Pack Soft Drink')]

      order_id  quantity          item_name choice_description item_price
298        129         1  6 Pack Soft Drink           [Sprite]     $6.49
341        148         1  6 Pack Soft Drink        [Diet Coke]     $6.49
357        154         1  6 Pack Soft Drink             [Coke]     $6.49
388        168         1  6 Pack Soft Drink        [Diet Coke]     $6.49
417        182         1  6 Pack Soft Drink        [Diet Coke]     $6.49
553        230         1  6 Pack Soft Drink        [Diet Coke]     $6.49
639        264         1  6 Pack Soft Drink        [Diet Coke]     $6.49
721        298         1  6 Pack Soft Drink           [Nestea]     $6.49
743        306         1  6 Pack Soft Drink             [Coke]     $6.49
879        363         1  6 Pack Soft Drink             [Coke]     $6.49
1026       422         1  6 Pack Soft Drink           [Sprite]     $6.49
1051       432         1  6 Pack Soft Drink             [Coke]     $6.49
1124       465         1  6 Pack Soft Drink             [Coke]     $6.49
1167       481         1  6 Pack Soft Drink             [Coke]     $6.49
1260       511         1  6 Pack Soft Drink             [Coke]     $6.49
1279       520         1  6 Pack Soft Drink           [Sprite]     $6.49
1392       566         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1755       708         1  6 Pack Soft Drink             [Coke]     $6.49
1758       709         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1849       749         1  6 Pack Soft Drink             [Coke]     $6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1916       774         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1922       776         1  6 Pack Soft Drink             [Coke]     $6.49
1937       784         1  6 Pack Soft Drink        [Diet Coke]     $6.49
1976       798         1  6 Pack Soft Drink        [Diet Coke]     $6.49
2108       849         1  6 Pack Soft Drink             [Coke]     $6.49
2232       899         1  6 Pack Soft Drink             [Coke]     $6.49
2374       945         1  6 Pack Soft Drink           [Sprite]     $6.49
2389       949         1  6 Pack Soft Drink             [Coke]     $6.49
2713      1076         1  6 Pack Soft Drink             [Coke]     $6.49
2793      1109         1  6 Pack Soft Drink        [Diet Coke]     $6.49
2860      1136         1  6 Pack Soft Drink        [Diet Coke]     $6.49
3010      1196         1  6 Pack Soft Drink        [Diet Coke]     $6.49
3132      1248         1  6 Pack Soft Drink        [Diet Coke]     $6.49
3141      1253         1  6 Pack Soft Drink         [Lemonade]     $6.49
3389      1360         2  6 Pack Soft Drink        [Diet Coke]    $12.98
3422      1373         1  6 Pack Soft Drink             [Coke]     $6.49
3600      1443         1  6 Pack Soft Drink             [Coke]     $6.49
3614      1448         1  6 Pack Soft Drink           [Nestea]     $6.49
3633      1454         1  6 Pack Soft Drink             [Coke]     $6.49
3693      1480         1  6 Pack Soft Drink        [Diet Coke]     $6.49
3766      1508         1  6 Pack Soft Drink             [Coke]     $6.49
3789      1517         1  6 Pack Soft Drink        [Diet Coke]     $6.49
3806      1525         1  6 Pack Soft Drink           [Sprite]     $6.49
3836      1537         1  6 Pack Soft Drink             [Coke]     $6.49
3875      1554         1  6 Pack Soft Drink        [Diet Coke]     $6.49
3886      1558         1  6 Pack Soft Drink        [Diet Coke]     $6.49
4169      1664         1  6 Pack Soft Drink        [Diet Coke]     $6.49
4174      1666         1  6 Pack Soft Drink             [Coke]     $6.49
4359      1741         1  6 Pack Soft Drink             [Coke]     $6.49
4363      1742         1  6 Pack Soft Drink        [Diet Coke]     $6.49
4522      1798         1  6 Pack Soft Drink        [Diet Coke]     $6.49
4527      1800         1  6 Pack Soft Drink        [Diet Coke]     $6.49
4535      1803         1  6 Pack Soft Drink         [Lemonade]     $6.49

In [79]:
len(chipo[(chipo['item_name'] == '6 Pack Soft Drink')])
# A mi me salen mas de 20, no tengo del todo claro que me estan pidiendo

54

20