# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [243]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [244]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter = '\t')

### Step 3. Assign it to a variable called chipo.

In [245]:
chipo = df

### Step 4. See the first 10 entries

In [246]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [247]:
# Solution 1

In [248]:
chipo.shape[0]

4622

In [249]:
# Solution 2

In [250]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

5

In [251]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

In [252]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

RangeIndex(start=0, stop=4622, step=1)

In [253]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [254]:
new_chipo = chipo.groupby(['item_name']).sum()
new_chipo.sort_values('quantity').tail(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [255]:
new_chipo.sort_values('quantity').tail(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [256]:
new_chipo = chipo.groupby(['choice_description']).sum()
new_chipo.sort_values('quantity').tail(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

4972

In [257]:
sum(chipo['quantity'])

4972

### Step 13. Turn the item price into a float

In [258]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.a. Check the item price type

In [259]:
chipo['item_price'].dtype

dtype('O')

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [260]:
# Voy a quitar el dollar que me esta dando por saco antes de crear la lambda
chipo['item_price'] = chipo['item_price'].str.lstrip('$')
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [261]:
# metodo 1
change_type = lambda df: pd.to_numeric(df)
change_type(chipo['item_price'])

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [262]:
# Metodo 2
change_type = lambda df: df.astype('float64')
chipo['item_price'] = chipo['item_price'].str.lstrip('$')
chipo['item_price'] = change_type(chipo['item_price'])
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [264]:
chipo['item_price'].dtype

dtype('float64')

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [267]:
rev = round(sum(chipo['quantity'] * chipo['item_price']), 2)
print('Revenue was: $' + str(rev))

Revenue was: $39237.02

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [282]:
# Metodo 1 - con la longitud
tot_ord = len(chipo.groupby(['order_id']).sum())
tot_ord

1834

In [283]:
# Metodo 2 - el maximo de order id
tot_ord = max(chipo['order_id'])
tot_ord

1834

1834

### Step 16. What is the average revenue amount per order?

In [281]:
# Solution 1 - De cada pedido individualmente

chipo.groupby(['order_id']).mean()

          quantity  item_price
order_id
1              1.0    2.890000
2              2.0   16.980000
3              1.0    6.335000
4              1.0   10.500000
5              1.0    6.850000
...            ...         ...
1830           1.0   11.500000
1831           1.0    4.300000
1832           1.0    6.600000
1833           1.0   11.750000
1834           1.0    9.583333

[1834 rows x 2 columns]

In [284]:
# Solution 2 - De todos los pedidos en total
rev / tot_ord

21.39423118865867

### Step 17. How many different items are sold?

In [288]:
len(chipo.groupby('item_name'))

50

50